@{
    ViewData["Title"] = "SmartGarage - Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SmartGarage</h1>
    <p class="lead">Professional Vehicle Service Management System</p>
    
    <div class="row mt-4">
        
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Login Portal</h5>
                    <p class="card-text">Access your account by clicking on this button.</p>
                    <a href="@Url.Action("DisplayAuthenticationForm", "Home")" class="btn btn-success">Login</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
